* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

@import "./nav.scss";
@import "./search.scss";
@import "./footer.scss";
@import "./picture.scss";
